<html>
    <head>
        <title>Upperline Movie List</title>
    </head>
    <body>
        <h1>Add Your Movie To The list! </h1>
        <form method="post" action="/movie/new">
            <label for="title">Movie Title:</label>
            <input type="text" name="title" value="">
            <label for "genre">Movie Genre:</label>
            <input type="text" name="genre" value="">
            <label for "year">Release Year:</label>
            <input type="number" name="year" value="">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>

